@model WebApplicationLaba.Models.Questions
@{
    ViewData["Title"] = "Third";
    Layout = null;
}
<h2>Third</h2>
<!DOCTYPE html>
<head>
    
</head>
<body>
<style>
    body
    {
        background: chartreuse;
    }
</style>
</body>

